body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px
}

header {
    margin: 0px;
    padding: 50px;
    text-align: center;
    border-bottom: 1px #f0f0f0 solid;
}

footer {
    padding: 10px
}

.wrapper {
    padding: 20px;
}

.wrapper > * {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.wrapper .button {
    position: relative;
    display: block;
    text-align: center;
    padding: 15px;
    background-color: #3aa6aa;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.wrapper .button:active {
    left: 1px;
    top: 1px;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.wrapper input {
    box-sizing: border-box;
    font-size: 18px;
    display:block;
    padding: 10px;
    width: 100%;
    border: 2px solid #3aa6aa;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

.wrapper input.error {
    background-color: #ffecec;
    border-color: #f77575
}

/** **/
.spinner {
    animation: rotate 1.5s linear infinite;
    width: 32px;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

/** table **/
table {
    width: 100%;
    border-collapse: collapse;
}

table a {
    display: block;
    font-size: 24px;
    line-height: 38px;
    padding-left: 10px;
    text-decoration: none;
    color: #19879b
}

td.net-status {
    text-align: right;
}

td {
    border-bottom: 1px solid #f0f0f0
}

tr img {
    height: 18px;
    padding: 5px;
    padding-right: 10px;
}
